
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #000000
    ;
}
p {
  color: #ffffff;
  font-size: 30px;
  font-family: "Quicksand"
}
h1 {
  color: #f400d7;
  font-size: 28px;
  Font-family: "Roboto"
}

#graphDiv {
    background-color: #ffffff;
}
#graphDiv svg {
    background-color: #f400d7;
    height: 300px;
    width: 100vw;
}