
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #00f49c
    ;
}
p {
  color: #f4f400;
  font-size: 20px;
  font-family: "Quicksand"
}
h1 {
  color: #f400d7;
  font-size: 28px;
  Font-family: "Roboto"
}